.small_title {
    font-size: 2rem;
}
  
.signup_input {
    background: transparent;
    border: 1px dashed white;
    color: white;
    width: 25rem;
    height:3rem;
    font-size: 1.3rem;
    margin-bottom: 20px;
}
  
.signup_input:focus {
    outline: none;
}
  
.signup_textarea {
    background: transparent;
    border: 1px dashed white;
    color: white;
    width: 30rem;
    height:10rem;
    font-size: 1.1rem;
    margin-bottom: 5px;
}
  
.signup_textarea:focus {
    outline: none;
}
  
.signup_button {
    width: 15rem;
    height:3rem;
    background: white;
    color: black;
    border: none;
    font-weight:bold;
    font-size: 1.5rem;
}
  
.signup_button:hover {
    background-color: #d1d1d1
}
  
@media (max-width:500px) {
    .small_title {
      font-size: 1.9rem;
    }
    .signup_input {
      width: 20rem;
    }
    .signup_textarea {
      width: 20rem;
    }
}
  
@media (max-width:300px) {
    .small_title {
      font-size: 1.1rem;
    }
    .signup_input {
      width: 15rem;
    }
    .signup_textarea {
      width: 15rem;
    }
}

.houses {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.houses input[type="radio"] {
  opacity: 0.01;
}

.houses input[type="radio"]:checked+label,
.Checked+label {
  background: rgb(40, 40, 31);
}

.houses li {
  padding: 2px;
  cursor: pointer;
  width: 4rem;
  height: 1.5rem;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
}

.houses label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.verdant {
  border: 2px dashed rgb(5, 212, 5);
  color: #00FF1A;
}

.lumos {
  border: 2px dashed rgb(209, 209, 4);
  color: rgba(255, 255, 0, 1);
}

.erythro {
  border: 2px dashed rgb(241, 17, 17);
  color: #FF0000;
}

.azurite {
  border: 2px dashed rgb(0, 68, 255);
  color: rgb(48, 102, 250)
}

.email {
  color: #00FF1A;
  font-size: 0.9rem;
}

.error {
  color: #FF0000;
}