.name {
    font-size: 1.1rem;
}

.time {
    margin-top: -1.1rem;
    color: #55F50A;
    font-size: 0.9rem;
}

.input {
    background: transparent;
    border: 1px dashed white;
    color: white;
    width: 10rem;
    height:2rem;
    font-size: 1rem;
    margin-bottom: 5px;
    margin-right:5px;
}
  
.input:focus {
    outline: none;
}

.button {
    width: 10rem;
    height:2rem;
    background: white;
    color: black;
    border: none;
    font-weight:bold;
    font-size: 1rem;
}
  
.button:hover {
    background-color: #d1d1d1
}

.red {
    color: #FF0000;
    font-size: 0.9rem;
}

.verdant {
    color: #55F50A;
}

.erythro {
    color: #ff0000;
}

.lumos {
    color: #FFC700;
}

.azurite {
    color: #25B1FF;
}

.bar {
    box-sizing: content-box;
    height: 20px; /* Can be anything */
    position: relative;
    background: #555;
    border-radius: 25px;
    padding: 10px;
}
.bar > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.verdantBar {
    background-color: #55F50A;
}

.erythroBar {
    background-color: #ff0000;
}

.lumosBar {
    background-color: #FFC700;
}

.azuriteBar {
    background-color: #25B1FF;
}