@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-family: 'Josefin Sans', sans-serif;
  background: #121212;
  color: white;
  font-size: calc(15px + 0.390625vw);
  color-scheme: dark;
}

#content {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

#middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#textCenter {
  text-align: center;
}

a {
  color: white;
}

a:hover {
  opacity: 0.5;
}