html {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  background: #121212;
  color: white;
  font-size: calc(15px + 0.390625vw);
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}