.join_button {
  width:7rem;
  height:3rem;
  background: white;
  color: black;
  border: none;
}

.join_button:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

.join_link {
  font-weight:bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.title {
  font-size: 4rem;
}

.point {
  color: #c1bebe;
  font-size: 1.3rem;
  font-weight: bold;
}

@media (max-width:500px) {
  .title {
    font-size: 3rem;
  }
  .point {
    font-size: 1rem;
  }
}

@media (max-width:300px) {
  .title {
      font-size: 2.4rem;
  }
  .point {
    font-size: 1rem;
  }
}