.navbar {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px dashed rgb(73, 72, 72);
}
  
.navbar a {
    font-weight: bold;
    font-size: 1rem;
    text-transform: lowercase;
    color: white;
    padding: 8px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
}
  
.navbar a:hover {
    opacity: 0.5;
}
  
.navbar + .content {
    padding-top: 60px;
}
  
.content {
    padding: 16px;
}
  
.other_navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px dashed rgb(73, 72, 72);
}
  
.other_navbar span {
    font-weight: bold;
    font-size: 1rem;
    text-transform: lowercase;
    color: white;
    margin: 0px 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
  
.other_navbar + .content {
    padding-top: 60px;
}

.img {
    vertical-align: middle;
}